<h1>Tomogatchi</h1>
<h3>Add a new name:</h3>
<form action='/tomo-name' method="post">
  <label for='new-name'>Name</label>
  <input id='new-name' name='new-name' type='text'>
  <button type='submit'>Continue</button>
</form>
